
<html lang="fr">
	<head>
		<title>Dealer de Rimes | Comment ça marche</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Découvrez comment l'algorithme de notre dictionnaire de rimes fonctionne"/>
		<meta name="keywords" content="dictionnaire de rimes, rap français, allitérations, comment, algorithme, but, créativité"/>
		
		
		<meta name="twitter:card" value="summary"/>
		<meta property="og:title" content="Dealer de Rime | Comment ça marche" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.dealerderimes.fr" />
		<meta property="og:image" content="images/logo.jpg" />
		<meta property="og:description" content="Découvrez comment l'algorithme de notre dictionnaire de rimes fonctionne" /> 
		
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
	
		<div id="page-wrapper">
				
			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">Dealer de Rimes | <em>Source d'inspiration</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Rimez</a></li>
							<li><a href="/a-propos">À propos</a></li>
							<li><a href="/inscription" class="button special">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Comment Dealer de Rimes fonctionne ?</h2><br>
							<p><strong><em>Rap, poème, slam.</em> Écrire n’est pas si facile et souvent l’inspiration manque…<br></strong>
							
								Notre <a href="/">dictionnaire de rime</a> a pour but de stimuler votre créativité,
								que ce soit pour vous aider à faire vos premiers pas ou vous permettre de perfectionner votre plume. <br><br>
								
								
							  <strong> Pour vous proposer les meilleures rimes qui jouent sur la sonorité des mots, nous utilisons un algorithme qui fonctionne en deux parties:<br></strong>
							   
							   - La première a pour but d’analyser les dernières musiques de rap français et d’en générer un dictionnaire 
							   en fonction des mots trouvés. Cela permet de vous fournir un lexique plus adapté à vos besoins, que vous ne 
							   trouverez sur aucun dictionnaire classique.<br><br>
							
							   - La deuxième récupère votre requête et trouve d'abord des mots avec les mêmes allitérations (répétition d'une consonne). Il sélectionne 
							   ensuite les mots qui contiennent les mêmes assonances (répétition d'une voyelle) et les affiche par ordre alphabétique, classés par figure de style.</p>
						</header>
					</div>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="/" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>	
						<li><a href="/contact">Nous contacter / Contact us</a></li>	
					</ul>
					<ul class="copyright">
						<li>&copy; Dealer de Rimes. Tous droits réservés. 2017.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
    </div>
	</body>
</html>