<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Classements du Rap Français | Dealer de Rimes </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Découvrez les classement des meilleurs rappeurs et albums du Rap Français en fonction de la diversité des mots utilisés"/>
		<meta name="keywords" content="rap français, mots, mot, classement, artistes, album"/>
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-89932021-1', 'auto');
		  ga('send', 'pageview');

		</script>
		
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
		  (adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-9593080548754786",
			enable_page_level_ads: true
		  });
		</script>
		
		
	</head>
	<body class="landing">
	
		<div id="page-wrapper">
				
			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">Dealer de Rimes | <em>Source d'inspiration</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/#dictionnaire">Dictionnaire de rimes</a></li>
							<li><a href="/classement">Classements</a></li>
							<li><a href="/a-propos">À propos</a></li>
							<li><a href="/inscription" class="button special">Sign Up</a></li>
						</ul>
					</nav>
				</header>
				
				<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
						<h2>Classements du Rap Français</h2>
							<p><strong>Dans cette partie du site, nous vous proposons un classement des rappeurs<br> français et de leurs 
								albums en fonction de la diversité de leurs vocabulaire.</strong><br> Pour cela, nous regardons le nombre de mots différents par chanson<br> en moyenne.<br><br>
								En cliquant sur le nom d'un rappeur, vous pouvez aussi accéder<br> à un classement de ses mots les plus utilisés.
							<br><br>
								D'autres rappeurs seront rajoutés au fur et à mesure, n'hésitez pas<br> à nous en suggérer par mails ou sur les réseaux sociaux
										</p>
						</header>
						<span class="image"><img src="images/classement_rap.png" alt="logo classement rap" style="max-width: 100%; height: auto;"/></span>
						<ul class="album">
							<li><a href="#rappeurs">Rappeurs</a></li>
							<li><a href="#album">Albums</a></li>		
						</ul>
					</div>
					<a href="#rappeurs" class="goto-next scrolly">Next</a>
				</section>
			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<section id="rappeurs">
								<h3>Classement des rappeurs</h3>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Rappeur</th>
												<th>Nombre de mots différents par chanson(en moyenne)</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/nekfeu">Nekfeu</a> </td>
												<td>168</td>
											</tr>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/vald">Vald</a> </td>
												<td>134</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/kaaris">Kaaris</a></td>
												<td>132</td>
											</tr>
											</tbody>
									</table>
									<br>
								
								<section id="album">
								<h3>Classement des albums</h3>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Album</th>
												<th>Nombre de mots différents par chanson(en moyenne)</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/nekfeu#cyborg">Nekfeu - Cyborg (2016)</a></td>
												<td>196</td>
											</tr>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/vald#nqnt2">Vald - NQNT (2014)</a></td>
												<td>166</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/kaaris#zero">Kaaris - Z.E.R.O (2012)</a></td>
												<td>151</td>
											</tr>
											<tr>
												<td>#3</td>
												<td><a target="_blank" href="/nekfeu#feu">Nekfeu - Feu (2015) </a></td>
												<td>148</td>
											</tr>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/vald#nqnt2">Vald - NQNT 2 (2015)</a></td>
												<td>147</td>
											</tr>
											<tr>
												<td>#4</td>
												<td><a target="_blank" href="/kaaris#ornoir2">Kaaris - Or Noir Part 2 (2014)</a></td>
												<td>143</td>
											</tr>
											<tr>
												<td>#5</td>
												<td><a target="_blank" href="/kaaris#lebruit">Kaaris - Le Bruit De Mon Âme (2015)</a></td>
												<td>137</td>
											</tr>
											<tr>
												<td>#6</td>
												<td><a target="_blank" href="/kaaris#ornoir">Kaaris - Or Noir (2013)</a></td>
												<td>125</td>
											</tr>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/vald#agartha">Vald - Agartha (2017)</a></td>
												<td>123</td>
											</tr>
											<tr>
												<td>#7</td>
												<td><a target="_blank" href="/kaaris#doublefuck">Kaaris - Double Fuck (2015)</a></td>
												<td>118</td>
											</tr>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/vald#nqntmqmqmb">Vald - NQNTMQMQMB (2012)</a></td>
												<td>115</td>
											</tr>
											<tr>
												<td>#8</td>
												<td><a target="_blank" href="/kaaris#okougnakouri">Kaaris - Okou Gnakouri (2016)</a></td>
												<td>108</td>
											</tr>
											
										</tbody>
									</table>
								</div>
								</section>
								
						
						
					</div>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://twitter.com/Dealerderimes" class="icon alt fa-twitter" onClick="ga('send', 'event', 'Social', 'click', 'twitter');"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/dealerderime" class="icon alt fa-facebook" onClick="ga'send', 'event', 'Social', 'click', 'facebook');"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/dealerderimes/" class="icon alt fa-instagram" onClick="ga'send', 'event', 'Social', 'click', 'instagram');"><span class="label">Instagram</span></a></li>	
						<li><a href="/contact" itemprop="url">Nous contacter / Contact us</a></li>	
					</ul>
					<ul class="copyright">
						<li>&copy; 2017 Dealer de Rimes. Tous droits réservés.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
    </div>
	</body>
</html>