
<html lang="fr">
	<head>
		<title>Dealer de Rimes | Contactez nous</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Envoyez un email"/>
		<meta name="keywords" content="email, message, envoyer, contact, cv, lucas pedroza"/>
	
		
		<meta name="twitter:card" value="summary"/>
		<meta property="og:title" content="Dealer de Rime | Contactez nous" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.dealerderimes.fr" />
		<meta property="og:image" content="images/logo.jpg" />
		<meta property="og:description" content="Envoyez un email" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-89932021-1', 'auto');
		  ga('send', 'pageview');

		</script>
		
	</head>
	<body class="landing">
	
		<div id="page-wrapper">
				
			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">Dealer de Rimes | <em>Source d'inspiration</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Rimez</a></li>
							<li><a href="/a-propos">À propos</a></li>
							<li><a href="/inscription" class="button special">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							 <section>
								<h3>Contactez nous par e-mail</h3>
								<form method="post" action="/contact">
									<div class="row uniform 50%">
										<div class="6u 12u$(xsmall)">
											<input type="text" name="nom" id="nom" value="" placeholder="Nom" />
										</div>
										<div class="6u$ 12u$(xsmall)">
											<input type="email" name="email" id="email" value="" placeholder="Email" />
										</div>
										<div class="12u$">
											<textarea name="message" id="message" placeholder="Entrez votre message" rows="6"></textarea>
										</div>
										<div class="12u$">
											<ul class="actions">
												<li><input type="submit" value="Envoyer" class="special" /></li>
												<li><input type="reset" value="Effacer" /></li>
											</ul>
										</div>
									</div>
								</form>
								<ul class="icons">
								<li><a href="/lucas_pedroza_fr" class="button">Mon Profil / CV</a></li>
								<li><a href="/lucas_pedroza_en" class="button">My Profile / CV</a></li>
								</ul>
							</section>
						</header>
					</div>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="/" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>	
						<li><a href="/contact">Nous contacter / Contact us</a></li>	
					</ul>
					<ul class="copyright">
						<li>&copy; 2017 Dealer de Rimes. Tous droits réservés.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
    </div>
	</body>
</html>