<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Dealer de Rimes | Merci</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="robots" content="noindex" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
	
		<div id="page-wrapper">
				
			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">Dealer de Rimes | <em>Source d'inspiration</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Rimez</a></li>
							<li><a href="/a-propos">À propos</a></li>
							<li><a href="/inscription" class="button special">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h3>Merci pour votre message. Nous vous contacterons bientôt.</h3>
							<br>
							<p><a href="/">Dictionnaire de rimes</a></p>
							
							
								
						</header>
					</div>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="/" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="/https://www.instagram.com/dealerderimes/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>	
						<li><a href="/contact">Nous contacter / Contact us</a></li>	
					</ul>
					<ul class="copyright">
						<li>&copy; 2017 Dealer de Rimes. Tous droits réservés.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
    </div>
	</body>
</html>