<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Mots les plus utilisé par Kaaris | Dealer de Rimes </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Retrouvez le top 10 des mots les plus utilisés par Kaaris sur chacun de ses albums"/>
		<meta name="keywords" content="kaaris, mots, mot, top 10"/>
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-89932021-1', 'auto');
		  ga('send', 'pageview');

		</script>
		
		
	</head>
	<body class="landing">
	
		<div id="page-wrapper">
				
			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">Dealer de Rimes | <em>Source d'inspiration</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/#dictionnaire">Dictionnaire de rimes</a></li>
							<li><a href="/a-propos">À propos</a></li>
							<li><a href="/inscription" class="button special">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							 <section>
								<h2><strong>Kaaris<strong></h2>
								<center><h4>Retrouvez le top 10 des mots que Kaaris a le plus utilisés sur ses albums ainsi que
												des chiffres sur la diversité de son vocabulaire </h4></center>	
								
									 <ul class="album">
									<li><a href="#okougnakouri">Okou Gnakouri</a></li>
									<li><a href="#doublefuck">Double Fuck</a></li>
									<li><a href="#lebruit">Le Bruit De Mon Âme</a></li>
									<li><a href="#ornoir2">Or Noir Part 2</a></li>
									<li><a href="#ornoir">Or Noir</a></li>
									<li><a href="#zero">Z.E.R.O</a></li>
									</ul>
									<ul class="album">
									<li><a href="#total">Total</a></li>			
									</ul>
							 
							</section>
						</header>
						<!-- Table -->
							
							<section id="okougnakouri">
								<center><h3>Album Okou Gnakouri (2016)</h3>
								<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/Kaaris/kaaris_okougnakouri.jpg" alt="album_okougnakouri_couverture" /></span></div></center>
								<h4>Top 10 des mots</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Mot</th>
												<th>Répétition</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/dictionnaire/veux">Veux</a> </td>
												<td>49</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/dictionnaire/elle">Elle</a></td>
												<td>39</td>
											</tr>
											<tr>
												<td>#3</td>
												<td><a target="_blank" href="/dictionnaire/faire">Faire/fait</td>
												<td>35</td>
											</tr>
											<tr>
												<td>#4</td>
												<td><a target="_blank" href="/dictionnaire/bif">Biff</a></td>
												<td>25</td>
											</tr>
											<tr>
												<td>#5</td>
												<td><a target="_blank" href="/dictionnaire/tchouin">Tchouin</a></td>
												<td>24</td>
											</tr>
											<tr>
												<td>#5bis</td>
												<td><a target="_blank" href="/dictionnaire/amor">Amor</a></td>
												<td>24</td>
											</tr>
											<tr>
												<td>#6</td>
												<td><a target="_blank" href="/dictionnaire/biatch">Biatch</a></td>
												<td>22</td>
											</tr>
											<tr>
												<td>#7</td>
												<td><a target="_blank" href="/dictionnaire/sang">Sang</a></td>
												<td>19</td>
											</tr>
											<tr>
												<td>#8</td>
												<td><a target="_blank" href="/dictionnaire/uzi">Uzi</a></td>
												<td>18</td>
											</tr>
											<tr>
												<td>#9</td>
												<td><a target="_blank" href="/dictionnaire/voir">Galère</a></td>
												<td>16</td>
											</tr>
											<tr>
												<td>#10</td>
												<td><a target="_blank" href="/dictionnaire/mort">Gros</a></td>
												<td>13</td>
											</tr>
										</tbody>
									</table>
									<center><h4><u>1625</u> différents mots sur tout l’album soit environ <u>108</u> par chansons</h4></center>
								</div>
								</section><br>
								
								<section id="doublefuck">
								<center><h3>Album Double Fuck (2015)</h3>
								<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/Kaaris/kaaris_doublefuck.jpg" alt="album_doublefuck_couverture" /></span></div></center>
								<h4>Top 10 des mots</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Mot</th>
												<th>Répétition</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/dictionnaire/faire">Faire/Fait</a></td>
												<td>98</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/dictionnaire/veux">Veux</a></td>
												<td>50</td>
											</tr>
											<tr>
												<td>#3</td>
												<td><a target="_blank" href="/dictionnaire/vend">Vends</a></td>
												<td>45</td>
											</tr>
											
											<tr>
												<td>#4</td>
												<td><a target="_blank" href="/dictionnaire/bellek">Bellek</a></td>
												<td>26</td>
											</tr>
											<tr>
												<td>#5</td>
												<td><a target="_blank" href="/dictionnaire/rien">Brille</a></td>
												<td>24</td>
											</tr>
											<tr>
												<td>#6</td>
												<td><a target="_blank" href="/dictionnaire/négro">Négro</a></td>
												<td>22</td>
											</tr>
											<tr>
												<td>#7</td>
												<td><a target="_blank" href="/dictionnaire/elle">Elle</a></td>
												<td>21</td>
											</tr>
											<tr>
												<td>#8</td>
												<td><a target="_blank" href="/dictionnaire/bonne">Bonne</a></td>
												<td>18</td>
											</tr>
											<tr>
												<td>#8bis</td>
												<td><a target="_blank" href="/dictionnaire/cash">Cash</a></td>
												<td>18</td>
											</tr>
											<tr>
												<td>#9</td>
												<td><a target="_blank" href="/dictionnaire/tieks">Tieks</a></td>
												<td>17</td>
											</tr>
											<tr>
												<td>#10</td>
												<td><a target="_blank" href="/dictionnaire/pute">Pute</a></td>
												<td>16</td>
											</tr>
										</tbody>
									</table>
									<center><h4><u>1887</u> différents mots sur tout l’album soit environ <u>118</u> par chansons</h4></center>
								</div>
								</section><br>
								
								<section id="lebruit">
								<center><h3>Album Le Bruit De Mon Âme (2015)</h3>
								<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/Kaaris/kaaris_lebruit.jpg" alt="album_lebruit_couverture" /></span></div></center>
								<h4>Top 10 des mots</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Mot</th>
												<th>Répétition</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/dictionnaire/veux">Veux</a></td>
												<td>74</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/dictionnaire/vie">Vie</a></td>
												<td>69</td>
											</tr>
											<tr>
												<td>#3</td>
												<td><a target="_blank" href="/dictionnaire/faire">Faire/Fait</a></td>
												<td>65</td>
											</tr>
											
											<tr>
												<td>#4</td>
												<td><a target="_blank" href="/dictionnaire/fuck">Fuck</a></td>
												<td>63</td>
											</tr>
											<tr>
												<td>#5</td>
												<td><a target="_blank" href="/dictionnaire/magnum">Magnum</a></td>
												<td>39</td>
											</tr>
											<tr>
												<td>#6</td>
												<td><a target="_blank" href="/dictionnaire/rien">Rien</a></td>
												<td>38</td>
											</tr>
											<tr>
												<td>#7</td>
												<td><a target="_blank" href="/dictionnaire/dire">Dire</a></td>
												<td>37</td>
											</tr>
											<tr>
												<td>#8</td>
												<td><a target="_blank" href="/dictionnaire/bonne">Thèse</a></td>
												<td>30</td>
											</tr>
											<tr>
												<td>#8bis</td>
												<td><a target="_blank" href="/dictionnaire/Zeutrei">Zeutrei</a></td>
												<td>30</td>
											</tr>
											<tr>
												<td>#9</td>
												<td><a target="_blank" href="/dictionnaire/gros">Gros</a></td>
												<td>29</td>
											</tr>
											<tr>
												<td>#10</td>
												<td><a target="_blank" href="/dictionnaire/putain">Putain</a></td>
												<td>28</td>
											</tr>
										</tbody>
									</table>
									<center><h4><u>2469</u> différents mots sur tout l’album soit environ <u>137</u> par chansons</h4></center>
								</div>
								</section><br>
								
								<section id="ornoir2">
								<center><h3>Album Or Noir Part 2(2014)</h3>
								<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/Kaaris/kaaris_ornoir2.jpg" alt="album_ornoir2_couverture" /></span></div></center>
								<h4>Top 10 des mots</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Mot</th>
												<th>Répétition</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/dictionnaire/faire">Faire/Fait</a></td>
												<td>34</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/dictionnaire/blindé">Blindé</a></td>
												<td>24</td>
											</tr>
											<tr>
												<td>#2bis</td>
												<td><a target="_blank" href="/dictionnaire/barrière">Barrière</a></td>
												<td>24</td>
											</tr>
											<tr>
												<td>#3</td>
												<td><a target="_blank" href="/dictionnaire/remplis">Remplis</a></td>
												<td>23</td>
											</tr>
											
											<tr>
												<td>#4</td>
												<td><a target="_blank" href="/dictionnaire/sac">Sac</a></td>
												<td>20</td>
											</tr>
											<tr>
												<td>#5</td>
												<td><a target="_blank" href="/dictionnaire/magnum">Regarde</a></td>
												<td>17</td>
											</tr>
											<tr>
												<td>#6</td>
												<td><a target="_blank" href="/dictionnaire/veux">Veux</a></td>
												<td>15</td>
											</tr>
											<tr>
												<td>#7</td>
												<td><a target="_blank" href="/dictionnaire/cul">Cul</a></td>
												<td>13</td>
											</tr>
											<tr>
												<td>#7bis</td>
												<td><a target="_blank" href="/dictionnaire/gros">Gros</a></td>
												<td>13</td>
											</tr>
											<tr>
												<td>#8</td>
												<td><a target="_blank" href="/dictionnaire/rien">Rien</a></td>
												<td>12</td>
											</tr>
											<tr>
												<td>#9</td>
												<td><a target="_blank" href="/dictionnaire/kalash">Kalash</a></td>
												<td>10</td>
											</tr>
											<tr>
												<td>#10</td>
												<td><a target="_blank" href="/dictionnaire/négro">Négro</a></td>
												<td>9</td>
											</tr>	
										</tbody>
									</table>
									<center><h4><u>1569</u> différents mots sur tout l’album soit environ <u>143</u> par chansons</h4></center>
								</div>
								</section><br>
								
								<section id="ornoir">
								<center><h3>Album Or Noir</h3>
								<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/Kaaris/kaaris_ornoir.jpg" alt="album_ornoir_couverture" /></span></div></center>
								<h4>Top 10 des mots</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Mot</th>
												<th>Répétition</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/dictionnaire/veux">Veux</a></td>
												<td>64</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/dictionnaire/faire">Faire/Fait</a></td>
												<td>59</td>
											</tr>
											<tr>
												<td>#3</td>
												<td><a target="_blank" href="/dictionnaire/thug">Thug</a></td>
												<td>43</td>
											</tr>
											<tr>
												<td>#4</td>
												<td><a target="_blank" href="/dictionnaire/arrive">Arrive</a></td>
												<td>38</td>
											</tr>
											
											<tr>
												<td>#4bis</td>
												<td><a target="_blank" href="/dictionnaire/club">Club</a></td>
												<td>38</td>
											</tr>
											<tr>
												<td>#5</td>
												<td><a target="_blank" href="/dictionnaire/bébé">Bébé</a></td>
												<td>28</td>
											</tr>
											<tr>
												<td>#6</td>
												<td><a target="_blank" href="/dictionnaire/sang">Sang</a></td>
												<td>21</td>
											</tr>
											<tr>
												<td>#7</td>
												<td><a target="_blank" href="/dictionnaire/enfer">Enfer</a></td>
												<td>20</td>
											</tr>
											<tr>
												<td>#8</td>
												<td><a target="_blank" href="/dictionnaire/cuisine">Cuisine</a></td>
												<td>17</td>
											</tr>
											<tr>
												<td>#9</td>
												<td><a target="_blank" href="/dictionnaire/gros">Gros</a></td>
												<td>16</td>
											</tr>
											<tr>
												<td>#10</td>
												<td><a target="_blank" href="/dictionnaire/ennemi">Ennemi</a></td>
												<td>14</td>
											</tr>	
										</tbody>
									</table>
									<center><h4><u>2125</u> différents mots sur tout l’album soit environ <u>125</u> par chansons</h4></center>
								</div>
								</section><br>
								
								<section id="zero">
								<center><h3>Album Z.E.R.O</h3>
								<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/Kaaris/kaaris_zero.jpg" alt="album_zero_couverture" /></span></div></center>
								<h4>Top 10 des mots</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Mot</th>
												<th>Répétition</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/dictionnaire/faire">Faire/Fait</a></td>
												<td>67</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/dictionnaire/lourd">Lourd</a></td>
												<td>32</td>
											</tr>
											<tr>
												<td>#3</td>
												<td><a target="_blank" href="/dictionnaire/grave">Grave</a></td>
												<td>21</td>
											</tr>
											<tr>
												<td>#4</td>
												<td><a target="_blank" href="/dictionnaire/crème">Crème</a></td>
												<td>18</td>
											</tr>
											<tr>
												<td>#5</td>
												<td><a target="_blank" href="/dictionnaire/veux">Veux</a></td>
												<td>15</td>
											</tr>
											<tr>
												<td>#6</td>
												<td><a target="_blank" href="/dictionnaire/peau">Peau</a></td>
												<td>14</td>
											</tr>
											<tr>
												<td>#7</td>
												<td><a target="_blank" href="/dictionnaire/criminelle">Criminelle</a></td>
												<td>13</td>
											</tr>
											<tr>
												<td>#8</td>
												<td><a target="_blank" href="/dictionnaire/mort">Mort</a></td>
												<td>12</td>
											</tr>
											<tr>
												<td>#8bis</td>
												<td><a target="_blank" href="/dictionnaire/chatte">Chatte</a></td>
												<td>12</td>
											</tr>
											<tr>
												<td>#9</td>
												<td><a target="_blank" href="/dictionnaire/noir">Noir</a></td>
												<td>10</td>
											</tr>
											<tr>
												<td>#10</td>
												<td><a target="_blank" href="/dictionnaire/ennemi">Gros</a></td>
												<td>9</td>
											</tr>	
										</tbody>
									</table>
									<center><h4><u>1817</u> différents mots sur tout l’album soit environ <u>151</u> par chansons</h4></center>
								</div>
								</section><br>
								
								<section id="total">
								<h3><u>Total</u></h3>
									<h4> Au cours de ses 6 deriers albums, le rappeur Kaaris a utilisé 11 492 différents mots.<br>Cela lui fait une moyenne de 132 mots par chansons. </h4>
								</section>
						
						
					</div>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://twitter.com/Dealerderimes" class="icon alt fa-twitter" onClick="ga('send', 'event', 'Social', 'click', 'twitter');"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/dealerderime" class="icon alt fa-facebook" onClick="ga'send', 'event', 'Social', 'click', 'facebook');"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/dealerderimes/" class="icon alt fa-instagram" onClick="ga'send', 'event', 'Social', 'click', 'instagram');"><span class="label">Instagram</span></a></li>	
						<li><a href="/contact" itemprop="url">Nous contacter / Contact us</a></li>	
					</ul>
					<ul class="copyright">
						<li>&copy; 2017 Dealer de Rimes. Tous droits réservés.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
    </div>
	</body>
</html>