<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Mots les plus utilisé par Nekfeu | Dealer de Rimes </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Retrouvez le top 10 des mots les plus utilisés par Nekfeu sur chacun de ses albums"/>
		<meta name="keywords" content="nekfeu, mots, mot, feu, cyborg, top 10"/>
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-89932021-1', 'auto');
		  ga('send', 'pageview');

		</script>
		
		
	</head>
	<body class="landing">
	
		<div id="page-wrapper">
				
			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">Dealer de Rimes | <em>Source d'inspiration</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/#dictionnaire">Dictionnaire de rimes</a></li>
							<li><a href="/a-propos">À propos</a></li>
							<li><a href="/inscription" class="button special">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							 <section>
								<h2><strong>Nekfeu<strong></h2>
								<center><h4>Retrouvez le top 10 des mots que Nekfeu a le plus utilisés sur les albums Cyborg et Feu ainsi que
												des chiffres sur la diversité de son vocabulaire </h4></center>	
								
									 <ul class="album">
									<li><a href="#cyborg">Cyborg</a></li>
									<li><a href="#feu">Feu</a></li>
									<li><a href="#total">Total</a></li>			
									</ul>
							 
							</section>
						</header>
						<!-- Table -->
							
							<section id="cyborg">
								<center><h3>Album Cyborg (2016)</h3>
								<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/Nekfeu/nekfeu_cyborg.jpg" alt="album_cyborg_couverture" /></span></div></center>
								<h4>Top 10 des mots</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Mot</th>
												<th>Répétition</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/dictionnaire/suis">Suis/être</a> </td>
												<td>75</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/dictionnaire/avant">Avant</a></td>
												<td>45</td>
											</tr>
											<tr>
												<td>#2bis</td>
												<td><a target="_blank" href="/dictionnaire/question">Question</td>
												<td>45</td>
											</tr>
											<tr>
												<td>#3</td>
												<td><a target="_blank" href="/dictionnaire/moi">Moi</a></td>
												<td>37</td>
											</tr>
											<tr>
												<td>#4</td>
												<td><a target="_blank" href="/dictionnaire/laisse">Laisse</a></td>
												<td>29</td>
											</tr>
											<tr>
												<td>#4bis</td>
												<td><a target="_blank" href="/dictionnaire/temps">Temps</a></td>
												<td>29</td>
											</tr>
											<tr>
												<td>#5</td>
												<td><a target="_blank" href="/dictionnaire/arrive">Arrive</a></td>
												<td>25</td>
											</tr>
											<tr>
												<td>#6</td>
												<td><a target="_blank" href="/dictionnaire/jamais">Jamais</a></td>
												<td>22</td>
											</tr>
											<tr>
												<td>#7</td>
												<td><a target="_blank" href="/dictionnaire/vie">Vie</a></td>
												<td>20</td>
											</tr>
											<tr>
												<td>#8</td>
												<td><a target="_blank" href="/dictionnaire/veux">Veux</a></td>
												<td>20</td>
											</tr>
											<tr>
												<td>#9</td>
												<td><a target="_blank" href="/dictionnaire/voir">Voir</a></td>
												<td>17</td>
											</tr>
											<tr>
												<td>#10</td>
												<td><a target="_blank" href="/dictionnaire/mort">Mort</a></td>
												<td>16</td>
											</tr>
										</tbody>
									</table>
									<center><h4><u>2745</u> différents mots sur tout l’album soit environ <u>196</u> par chansons</h4></center>
								</div>
								</section><br>
								
								<section id="feu">
								<center><h3>Album Feu (2015)</h3>
								<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/Nekfeu/nekfeu_feu.jpg" alt="album_feu_couverture" /></span></div></center>
								<h4>Top 10 des mots</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Mot</th>
												<th>Répétition</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/dictionnaire/suis">Suis/être</a></td>
												<td>111</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/dictionnaire/âme">âme</a></td>
												<td>88</td>
											</tr>
											<tr>
												<td>#3</td>
												<td><a target="_blank" href="/dictionnaire/moi">Moi</a></td>
												<td>66</td>
											</tr>
											
											<tr>
												<td>#4</td>
												<td><a target="_blank" href="/dictionnaire/elle">Elle</a></td>
												<td>62</td>
											</tr>
											<tr>
												<td>#5</td>
												<td><a target="_blank" href="/dictionnaire/rien">Rien</a></td>
												<td>50</td>
											</tr>
											<tr>
												<td>#6</td>
												<td><a target="_blank" href="/dictionnaire/même">Mêmes</a></td>
												<td>40</td>
											</tr>
											<tr>
												<td>#7</td>
												<td><a target="_blank" href="/dictionnaire/laisse">Laisse</a></td>
												<td>33</td>
											</tr>
											<tr>
												<td>#8</td>
												<td><a target="_blank" href="/dictionnaire/monde">Monde</a></td>
												<td>32</td>
											</tr>
											<tr>
												<td>#9</td>
												<td><a target="_blank" href="/dictionnaire/dit">Dit</a></td>
												<td>31</td>
											</tr>
											<tr>
												<td>#10</td>
												<td><a target="_blank" href="/dictionnaire/vie">Vie</a></td>
												<td>30</td>
											</tr>
										</tbody>
									</table>
									<center><h4><u>2952</u> différents mots sur tout l’album soit environ <u>148</u> par chansons</h4></center>
								</div>
								</section><br>
								<section id="total">
								<h3><u>Total</u></h3>
									<h4> Au cours de ses 2 deriers albums, le rappeur Nekfeu a utilisé 5 697 différents mots.<br>Cela lui fait une moyenne de 168 mots par chansons.<br><a href="/classement">Acceder aux classements</a> </h4>
								</section>
						
						
					</div>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://twitter.com/Dealerderimes" class="icon alt fa-twitter" onClick="ga('send', 'event', 'Social', 'click', 'twitter');"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/dealerderime" class="icon alt fa-facebook" onClick="ga'send', 'event', 'Social', 'click', 'facebook');"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/dealerderimes/" class="icon alt fa-instagram" onClick="ga'send', 'event', 'Social', 'click', 'instagram');"><span class="label">Instagram</span></a></li>	
						<li><a href="/contact" itemprop="url">Nous contacter / Contact us</a></li>	
					</ul>
					<ul class="copyright">
						<li>&copy; 2017 Dealer de Rimes. Tous droits réservés.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
    </div>
	</body>
</html>