<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Mots les plus utilisé par Népal | Dealer de Rimes </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Retrouvez le top 10 des mots les plus utilisés par Népal sur chacun de ses projets"/>
		<meta name="keywords" content="Népal, classement des mots, top 10"/>
		<meta name="Content-Language" content="fr" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-89932021-1', 'auto');
		  ga('send', 'pageview');

		</script>
		
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
		  (adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-9593080548754786",
			enable_page_level_ads: true
		  });
		</script>
		
		
	</head>
	<body class="landing">
	
		<div id="page-wrapper">
				
			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">Dealer de Rimes | <em>Source d'inspiration</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/#dictionnaire">Dictionnaire de rimes</a></li>
							<li><a target="_blank" href="https://soundcloud.com/lu-production">Soundcloud: Free Beats</a></li>
							<li><a href="/classement_rap_français">Classements</a></li>
							<li><a href="/a-propos-dictionnaire-de-rimes">À propos</a></li>
							<li><a href="/inscription" class="button special">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							 <section>
								<h2><strong>Népal<strong></h2>
								<center><h4>Retrouvez le top 10 des mots que Népal a le plus utilisés sur les projets 444Nuits et 16par16 ainsi que
												des chiffres sur la diversité de son vocabulaire </h4></center>	
								
									 <ul class="album">
									<li><a href="#444nuits">444Nuits</a></li>
									<li><a href="#16par16">16par16</a></li>
									<li><a href="#total">Total</a></li>			
									</ul>
							 
							</section>
						</header>
						<!-- Table -->
							
							<section id="444nuits">
								<center><h3>Projet 444Nuits (2016)</h3>
								<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/népal/népal_444nuits.jpg" alt="album_444nuits_couverture" /></span></div></center>
								<h4>Top 10 des mots</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Mot</th>
												<th>Répétition</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/rien">Rien</a> </td>
												<td>27</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/gavas">Gavas</a></td>
												<td>19</td>
											</tr>
											<tr>
												<td>#3</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/gros">Gros</a></td>
												<td>18</td>
											</tr>
											<tr>
												<td>#4</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/bien">Bien</a></td>
												<td>13</td>
											</tr>
											<tr>
												<td>#5</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/dab">Dab</a></td>
												<td>13</td>
											</tr>
											<tr>
												<td>#6</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/al">àl</a></td>
												<td>12</td>
											</tr>
											<tr>
												<td>#7</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/speed">Speed</a></td>
												<td>11</td>
											</tr>
											<tr>
												<td>#8</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/vie">Vie</a></td>
												<td>10</td>
											</tr>
											<tr>
												<td>#9</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/seul">Seul</a></td>
												<td>10</td>
											</tr>
											<tr>
												<td>#10</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/drogue">Drogue</a></td>
												<td>9</td>
											</tr>
										</tbody>
									</table>
									<center><h4><u>1602</u> différents mots sur tout le projet soit environ <u>133.5</u> par chansons<br><a href="/classement_rap_français#album" style="color: #e44c65">Accédez aux classements</a></h4></center>
								</div>
								</section><br>
								
								<section id="16par16">
								<center><h3>Projet 16par16 (2014)</h3>
								<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/népal/népal_16par16.jpg" alt="album_16par16_couverture" /></span></div></center>
								<h4>Top 10 des mots</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Mot</th>
												<th>Répétition</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/temps">Temps</a></td>
												<td>6</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/rien">Rien</a></td>
												<td>6</td>
											</tr>
											<tr>
												<td>#3</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/ici">Ici</a></td>
												<td>5</td>
											</tr>
											
											<tr>
												<td>#4</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/refré">Refré</a></td>
												<td>4</td>
											</tr>
											<tr>
												<td>#5</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/gros">Gros</a></td>
												<td>4</td>
											</tr>
											<tr>
												<td>#6</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/paro">Paro</a></td>
												<td>4</td>
											</tr>
											<tr>
												<td>#7</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/balle">Balle</a></td>
												<td>4</td>
											</tr>
											<tr>
												<td>#8</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/flow">Flow</a></td>
												<td>3</td>
											</tr>
											<tr>
												<td>#9</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/frelon">Frelon</a></td>
												<td>3</td>
											</tr>
											<tr>
												<td>#10</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/tise">Tise</a></td>
												<td>3</td>
											</tr>
										</tbody>
									</table>
									<center><h4><u>796</u> différents mots sur tout le projet soit environ <u>132.5</u> par chansons<br><a href="/classement_rap_français#album" style="color: #e44c65">Accédez aux classements</a></h4></center>
								</div>
								</section><br>
								<section id="total">
								<h3><u>Total</u></h3>
									<h4> Au cours de ses 2 derniers projets, le rappeur Népal a utilisé 2 398 différents mots.<br>Cela lui fait une moyenne de133 mots par chansons.<br><a href="/classement_rap_français#rappeurs" style="color: #e44c65">Accédez aux classements</a></h4> 
									
									<br>
								</section>
						
						
					</div>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://twitter.com/Dealerderimes" class="icon alt fa-twitter" onClick="ga('send', 'event', 'Social', 'click', 'twitter');"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/dealerderime" class="icon alt fa-facebook" onClick="ga'send', 'event', 'Social', 'click', 'facebook');"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/dealerderimes/" class="icon alt fa-instagram" onClick="ga'send', 'event', 'Social', 'click', 'instagram');"><span class="label">Instagram</span></a></li>	
						<li><a href="/contact" itemprop="url">Nous contacter / Contact us</a></li>	
					</ul>
					<ul class="copyright">
						<li>&copy; 2017 Dealer de Rimes. Tous droits réservés.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
    </div>
	</body>
</html>