<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Mots les plus utilisé par PNL | Dealer de Rimes </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Retrouvez le top 10 des mots les plus utilisés par PNL sur chacun de ses albums"/>
		<meta name="keywords" content="pnl, mots, mot, classement, top 10"/>
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-89932021-1', 'auto');
		  ga('send', 'pageview');

		</script>
		
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
		  (adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-9593080548754786",
			enable_page_level_ads: true
		  });
		</script>
		
		
	</head>
	<body class="landing">
	
		<div id="page-wrapper">
				
			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">Dealer de Rimes | <em>Source d'inspiration</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/#dictionnaire">Dictionnaire de rimes</a></li>
							<li><a href="/classement">Classements</a></li>
							<li><a href="/a-propos">À propos</a></li>
							<li><a href="/inscription" class="button special">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							 <section>
								<h2><strong>PNL<strong></h2>
								<center><h4>Retrouvez le top 10 des mots que PNL a le plus utilisés sur les albums Dans la légende, Le Monde Chico et Que La Famille ainsi que
												des chiffres sur la diversité de son vocabulaire </h4></center>	
								
									 <ul class="album">
									<li><a href="#dans_la_légende">Dans la légende</a></li>
									<li><a href="#le_monde_chico">Le Monde Chico</a></li>
									<li><a href="#que_la_famille">Que La Famille</a></li>
									<li><a href="#total">Total</a></li>			
									</ul>
							 
							</section>
						</header>
						<!-- Table -->
							<section id="dans_la_légende">
								<center><h3>Album Dans la légende (2015)</h3>
								<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/pnl/pnl_dans_la_légende.jpg" alt="album_batterie_faible_couverture" /></span></div></center>
								<h4>Top 10 des mots</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Mot</th>
												<th>Répétition</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/dictionnaire/vie">Vie</a> </td>
												<td>46</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/dictionnaire/aime">Aime</a></td>
												<td>39</td>
											</tr>
											<tr>
												<td>#3</td>
												<td><a target="_blank" href="/dictionnaire/monde">Monde</a></td>
												<td>24</td>
											</tr>
											<tr>
												<td>#4</td>
												<td><a target="_blank" href="/dictionnaire/putain">Putain</a></td>
												<td>23</td>
											</tr>
											<tr>
												<td>#5</td>
												<td><a target="_blank" href="/dictionnaire/igo">Igo</a></td>
												<td>21</td>
											</tr>
											<tr>
												<td>#6</td>
												<td><a target="_blank" href="/dictionnaire/haine">Haine</a></td>
												<td>19</td>
											</tr>
											<tr>
												<td>#7</td>
												<td><a target="_blank" href="/dictionnaire/coeur">Coeur</a></td>
												<td>18</td>
											</tr>
											<tr>
												<td>#8</td>
												<td><a target="_blank" href="/dictionnaire/wallah">Wallah</a></td>
												<td>18</td>
											</tr>
											<tr>
												<td>#9</td>
												<td><a target="_blank" href="/dictionnaire/vend">Mère</a></td>
												<td>15</td>
											</tr>
											<tr>
												<td>#10</td>
												<td><a target="_blank" href="/dictionnaire/maille">Maille</a></td>
												<td>14</td>
											</tr>
										</tbody>
									</table>
									<center><h4><u>1722</u> différents mots sur tout l’album soit environ <u>96</u> par chansons<br><a href="/classement#album" style="color: #e44c65">Accédez aux classements</a></h4></center>
								</div>
								</section><br>
								
							<section id="le_monde_chico">
								<center><h3>Album Le Monde Chico (2015)</h3>
								<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/pnl/pnl_le_monde_chico.jpg" alt="album_batterie_faible_couverture" /></span></div></center>
								<h4>Top 10 des mots</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Mot</th>
												<th>Répétition</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/dictionnaire/khey">Khey</a> </td>
												<td>32</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/dictionnaire/igo">Igo</a></td>
												<td>31</td>
											</tr>
											<tr>
												<td>#3</td>
												<td><a target="_blank" href="/dictionnaire/famille">Famille</a></td>
												<td>24</td>
											</tr>
											<tr>
												<td>#4</td>
												<td><a target="_blank" href="/dictionnaire/vie">Vie</a></td>
												<td>23</td>
											</tr>
											<tr>
												<td>#5</td>
												<td><a target="_blank" href="/dictionnaire/mère">Mère</a></td>
												<td>22</td>
											</tr>
											<tr>
												<td>#6</td>
												<td><a target="_blank" href="/dictionnaire/trop">Gros</a></td>
												<td>20</td>
											</tr>
											<tr>
												<td>#7</td>
												<td><a target="_blank" href="/dictionnaire/monde">Monde</a></td>
												<td>19</td>
											</tr>
											<tr>
												<td>#8</td>
												<td><a target="_blank" href="/dictionnaire/seul">Seul</a></td>
												<td>17</td>
											</tr>
											<tr>
												<td>#9</td>
												<td><a target="_blank" href="/dictionnaire/vend">Vend</a></td>
												<td>16</td>
											</tr>
											<tr>
												<td>#10</td>
												<td><a target="_blank" href="/dictionnaire/maille">Maille</a></td>
												<td>14</td>
											</tr>
										</tbody>
									</table>
									<center><h4><u>1815</u> différents mots sur tout l’album soit environ <u>106</u> par chansons<br><a href="/classement#album" style="color: #e44c65">Accédez aux classements</a></h4></center>
								</div>
								</section><br>
								
								<section id="que_la_famille">
								<center><h3>Album Que La Famille (2015)</h3>
								<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/pnl/pnl_que_la_famille.jpg" alt="album_salle_d'attente_couverture" /></span></div></center>
								<h4>Top 10 des mots</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Mot</th>
												<th>Répétition</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/dictionnaire/ouwawa">Ouwawa</a></td>
												<td>36</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/dictionnaire/moi">Moi</a></td>
												<td>29</td>
											</tr>
											<tr>
												<td>#3</td>
												<td><a target="_blank" href="/dictionnaire/igo">Igo</a></td>
												<td>27</td>
											</tr>
											
											<tr>
												<td>#4</td>
												<td><a target="_blank" href="/dictionnaire/vie">Vie</a></td>
												<td>20</td>
											</tr>
											<tr>
												<td>#5</td>
												<td><a target="_blank" href="/dictionnaire/oseille">Oseille</a></td>
												<td>19</td>
											</tr>
											<tr>
												<td>#6</td>
												<td><a target="_blank" href="/dictionnaire/khey">Khey</a></td>
												<td>18</td>
											</tr>
											<tr>
												<td>#7</td>
												<td><a target="_blank" href="/dictionnaire/haine">Haine</a></td>
												<td>16</td>
											</tr>
											<tr>
												<td>#8</td>
												<td><a target="_blank" href="/dictionnaire/frère">Frère</a></td>
												<td>15</td>
											</tr>
											<tr>
												<td>#9</td>
												<td><a target="_blank" href="/dictionnaire/biff">Biff</a></td>
												<td>12</td>
											</tr>
											<tr>
												<td>#10</td>
												<td><a target="_blank" href="/dictionnaire/elle">Elle</a></td>
												<td>9</td>
											</tr>
										</tbody>
									</table>
									<center><h4><u>1737</u> différents mots sur tout l’album soit environ <u>145</u> par chansons<br><a href="/classement#album" style="color: #e44c65">Accédez aux classements</a></h4></center>
								</div>
								</section><br>
								<section id="total">
								<h3><u>Total</u></h3>
									<h4> Au cours de ses 3 derniers albums, les rappeurs de PNL ont utilisé 5 274 différents mots.<br>Cela lui fait une moyenne de 112 mots par chansons.<br><a href="/classement#rappeurs" style="color: #e44c65">Accédez aux classements</a></h4> 
									
									<br>
								</section>
						
						
					</div>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://twitter.com/Dealerderimes" class="icon alt fa-twitter" onClick="ga('send', 'event', 'Social', 'click', 'twitter');"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/dealerderime" class="icon alt fa-facebook" onClick="ga'send', 'event', 'Social', 'click', 'facebook');"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/dealerderimes/" class="icon alt fa-instagram" onClick="ga'send', 'event', 'Social', 'click', 'instagram');"><span class="label">Instagram</span></a></li>	
						<li><a href="/contact" itemprop="url">Nous contacter / Contact us</a></li>	
					</ul>
					<ul class="copyright">
						<li>&copy; 2017 Dealer de Rimes. Tous droits réservés.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
    </div>
	</body>
</html>