
<html>
	<head>
		<title>Lucas Pedroza | Finance and management student</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="I am a third year student in finance and management and an app developer in ruby for website looking for an internship"/>
		<meta name="keywords" content="lucas pedroza, pedroza, cv, resume, finance, student, management, marketing, website, developer, ruby, app, ruby on rails, internship"/>
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
	
		<div id="page-wrapper">
				
			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/lucas_pedroza_en">Lucas Pedroza</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/lucas_pedroza_fr">FR</a></li>
							<li><a href="/lucas_pedroza_en">EN</a></li>
							
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							 <section>
								<h2><strong>Lucas Pedroza - CV<strong></h2>
								<center><h3>564 King Street, Aberdeen AB24 5SR<br> 
											United-Kingdom<br>
											27/05/1996<br>
											E-mail: <a href="#mail">P.lucas021@gmail.com</a><br>
											Telephone: +44 75 44 48 77 72 | +33 6 46 02 82 31</h3></center>									
							</section>
						</header>
							<section id="content">
							<center><h2>Education</h2></center>
							<h3>UNIVERSITY OF ABERDEEN, SCOTLAND <span style="float:right;"> <h6><em>09.2014 – 06. 2018</em></h6></span></h3>
							<ul>	
								<li><h5>Master of Art degree (honours): Business Management and Finance</h5></li>
								<li><h5>Third year student specialised in New Venture Development and Corporate Finance</h5></li>
								<li><h5>Thomson Reuters Eikon 4 Certification: 90% </h5></li>
							</ul>
							<h3>COPENHAGEN BUSINESS SCHOOL, DENMARK <span style="float:right;"> <h6><em>01. 2016 – 06. 2016 </em></h6></span></h3>
							<ul>	
								<li><h5>One semester exchange (Erasmus) </h5></li>
								<li><h5>Quantitative Business Research , Operation Management, Language of Negotiation, Foreign Policy of the European Union</h5></li>
							</ul>
							<h3>LYCÉE JULES FERRY, FRANCE <span style="float:right;"> <h6><em>09. 2011 – 06. 2014 </em></h6></span></h3>
							<ul>	
								<li><h5>French Scientific Baccalaureate (Mathematics, Physics, Engineering and Computing sciences, English)</h5></li>
								<li><h5>Obtained with honours (15/20) | 360 UCAS points | AAA</h5></li>
							</ul> 
							<br>
							
							
							<center><h2>Work and relevant experience</h2></center>
							<h3>NEW VENTURE DEVELOPMENT PROJECT ASSIGMENT<span style="float:right;"> <h6><em>09. 2016 - Present</em></h6></span></h3>
							<h4>University of Aberdeen – Aberdeen, Scotland </h4>
							<ul>	
								<li><h5>Working on a business idea with four other students for the group project of a start-up course. </h5></li>
								<li><h5>Gained skills in different tasks such as: opportunity identification, idea generation, concept testing, market research, financial planning </h5></li>
								<li><a href=" http://plucas021.wixsite.com/boxvoyage" target="_blank">Website</a></li>
								<li><a href="https://www.youtube.com/watch?v=PRLDJbob6PQ&feature=youtu.be" target="_blank">Promotional video</a></li>
							</ul>
							<h3>MANAGING WAITER (FULL-TIME 60H PER WEEK) <span style="float:right;"> <h6><em>06. 2016 – 08. 2016</em></h6></span></h3>
							<h4>Restaurant Le Clocher – Nice, France </h4>
							<ul>	
								<li><h5>In charge of 20-25 tables and supervising two commis waiters </h5></li>
								<li><h5>Welcoming and seating customers, taking orders, clearing tables, cash in customers</h5></li>
							</ul>
							<h3>BAR STAFF (PART-TIME 25H PER WEEK)<span style="float:right;"> <h6><em>06. 2016 – 08. 2016</em></h6></span></h3>
							<h4>Babylon | PB Devco - Aberdeen, Scotland</h4>
							<br>
							
							
							<center><h2>Skills & Competencies</h2></center>
							<ul>	
								<li><h5>Good I.T. skills: Web development (HTML/CSS), Object-oriented_programming (Ruby), Statistical analysis software (JMP)<br>Microsoft Office </h5></li>
								<li><h5>Strong analytical and numeracy skills that have been improving since high school where I turned toward a scientific<br>pathway, then through my finance and statistic courses at University. </h5></li>
								<li><h5>Ability to work fast and organised under pressure developed through my catering work experiences</h5></li>
								<li><h5>Team work skills gained during different group projects and work experiences</h5></li>
								<li><h5>Verbal communication and selling skills gained through my waiting experience</h5></li>
								
							</ul>
							</section>
							
							<section id="mail">
							<%if @mail==0%>
								<center><h3>Contact me by email</h3></center>
								<form method="post" action="/lucas_pedroza_en#mail">
									<div class="row uniform 50%">
										<div class="6u 12u$(xsmall)">
											<input type="text" name="nom" id="nom" value="" placeholder="Name" />
										</div>
										<div class="6u$ 12u$(xsmall)">
											<input type="email" name="email" id="email" value="" placeholder="Email" />
										</div>
										<div class="12u$">
											<textarea name="message" id="message" placeholder="Type your message here" rows="6"></textarea>
										</div>
										<div class="12u$">
											<ul class="actions">
												<li><input type="submit" value="Send" class="special" /></li>
												<li><input type="reset" value="Delete" /></li>
											</ul>
										</div>
									</div>
								</form>
							<%else%>
							<center><p><strong>Message sent. Thank you</strong></p></center>
							<%end%>
							</section>
					</div>
			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>Lucas Pedroza.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
    </div>
	</body>
</html>