<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Mots les plus utilisé par Vald | Dealer de Rimes </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Retrouvez le top 10 des mots les plus utilisés par Vald sur chacun de ses albums"/>
		<meta name="keywords" content="Vald, classement des mots, top 10"/>
		<meta name="Content-Language" content="fr" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-89932021-1', 'auto');
		  ga('send', 'pageview');

		</script>
		
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
		  (adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-9593080548754786",
			enable_page_level_ads: true
		  });
		</script>
		
		
	</head>
	<body class="landing">
	
		<div id="page-wrapper">
				
			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">Dealer de Rimes | <em>Source d'inspiration</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/#dictionnaire">Dictionnaire de rimes</a></li>
							<li><a target="_blank" href="https://soundcloud.com/lu-production">Soundcloud: Free Beats</a></li>
							<li><a href="/classement_rap_français">Classements</a></li>
							<li><a href="/a-propos-dictionnaire-de-rimes">À propos</a></li>
							<li><a href="/inscription" class="button special">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							 <section>
								<h2><strong>Vald<strong></h2>
								<center><h4>Retrouvez le top 10 des mots que Vald a le plus utilisés sur ses albums ainsi que
												des chiffres sur la diversité de son vocabulaire </h4></center>	
								
									 <ul class="album">
									<li><a href="#agartha">Agartha</a></li>
									<li><a href="#nqnt2">NQNT 2</a></li>
									<li><a href="#nqnt">NQNT</a></li>
									<li><a href="#nqntmqmqmb">NQNTMQMQMB</a></li>
									</ul>
									<ul class="album">
									<li><a href="#total">Total</a></li>			
									</ul>
							 
							</section>
						</header>
						<!-- Table -->
							
							<section id="agartha">
								<center><h3>Album Agartha (2017)</h3>
								<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/vald/vald_agartha.jpg" alt="album_agartha_couverture" /></span></div></center>
								<h4>Top 10 des mots</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Mot</th>
												<th>Répétition</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/blanc">Blanc</a> </td>
												<td>69</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/aime">Aime</a></td>
												<td>42</td>
											</tr>
											<tr>
												<td>#3</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/moi">Moi</td>
												<td>37</td>
											</tr>
											<tr>
												<td>#4</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/plus">Vie</a></td>
												<td>30</td>
											</tr>
											<tr>
												<td>#5</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/putain">Putain</a></td>
												<td>25</td>
											</tr>
											<tr>
												<td>#6</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/grand">Grand</a></td>
												<td>17</td>
											</tr>
											<tr>
												<td>#7</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/bitch">Bitch</a></td>
												<td>16</td>
											</tr>
											<tr>
												<td>#8</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/monde">Monde</a></td>
												<td>14</td>
											</tr>
											<tr>
												<td>#9</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/triste">Triste</a></td>
												<td>13</td>
											</tr>
											<tr>
												<td>#10</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/boss">Boss</a></td>
												<td>13</td>
											</tr>
										</tbody>
									</table>
									<center><h4><u>2094</u> différents mots sur tout l’album soit environ <u>123</u> par chansons<br><a href="/classement_rap_français#album" style="color: #e44c65">Accédez aux classements</a></h4></center>
								</div>
								</section><br>
								
								<section id="nqnt2">
								<center><h3>NQNT 2 (2015)</h3>
								<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/vald/vald_nqnt2.jpg" alt="album_nqnt2_couverture" /></span></div></center>
								<h4>Top 10 des mots</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Mot</th>
												<th>Répétition</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/soir">Soir</a></td>
												<td>39</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/elle">Elle</a></td>
												<td>37</td>
											</tr>
											<tr>
												<td>#3</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/moi">Moi</a></td>
												<td>36</td>
											</tr>
											
											<tr>
												<td>#4</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/plus">Plus</a></td>
												<td>32</td>
											</tr>
											<tr>
												<td>#5</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/aime">Aime</a></td>
												<td>31</td>
											</tr>
											<tr>
												<td>#6</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/bien">Bien</a></td>
												<td>30</td>
											</tr>
											<tr>
												<td>#7</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/seul">Seul</a></td>
												<td>26</td>
											</tr>
											<tr>
												<td>#8</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/riche">Riche</a></td>
												<td>22</td>
											</tr>
											<tr>
												<td>#9</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/vie">Vie</a></td>
												<td>18</td>
											</tr>
											<tr>
												<td>#10</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/pute">Grand</a></td>
												<td>17</td>
											</tr>
										</tbody>
									</table>
									<center><h4><u>1767</u> différents mots sur tout l’album soit environ <u>147</u> par chansons<br><a href="/classement_rap_français#album" style="color: #e44c65">Accédez aux classements</a></h4></center>
								</div>
								</section><br>
								
								<section id="nqnt">
								<center><h3>Album NQNT (2014)</h3>
								<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/vald/vald_nqnt.jpg" alt="album_nqnt_couverture" /></span></div></center>
								<h4>Top 10 des mots</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Mot</th>
												<th>Répétition</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/vie">Vie</a></td>
												<td>23</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/bien">Bien</a></td>
												<td>21</td>
											</tr>
											<tr>
												<td>#3</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/pute">Pute</a></td>
												<td>19</td>
											</tr>
											
											<tr>
												<td>#4</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/horrible">Horrible</a></td>
												<td>15</td>
											</tr>
											<tr>
												<td>#5</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/frère">Frère</a></td>
												<td>13</td>
											</tr>
											<tr>
												<td>#6</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/gros">Gros</a></td>
												<td>12</td>
											</tr>
											<tr>
												<td>#7</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/frelon">Frelon</a></td>
												<td>11</td>
											</tr>
											<tr>
												<td>#8</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/baise">Baise</a></td>
												<td>10</td>
											</tr>
											<tr>
												<td>#9</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/cochon">Cochon</a></td>
												<td>9</td>
											</tr>
											<tr>
												<td>#10</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/cul">Cul</a></td>
												<td>8</td>
											</tr>
										</tbody>
									</table>
									<center><h4><u>2152</u> différents mots sur tout l’album soit environ <u>166</u> par chansons<br><a href="/classement_rap_français#album" style="color: #e44c65">Accédez aux classements</a></h4></center>
								</div>
								</section><br>
								
								<section id="nqntmqmqmb">
								<center><h3>NQNTMQMQMB (2012)</h3>
								<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/vald/vald_nqntmqmqmb.jpg" alt="album_nqntmqmqmb_couverture" /></span></div></center>
								<h4>Top 10 des mots</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Mot</th>
												<th>Répétition</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#1</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/temps">Temps</a></td>
												<td>27</td>
											</tr>
											<tr>
												<td>#2</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/bien">Bien</a></td>
												<td>23</td>
											</tr>
					
											<tr>
												<td>#3</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/moi">Moi</a></td>
												<td>20</td>
											</tr>
											
											<tr>
												<td>#4</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/vie">Vie</a></td>
												<td>19</td>
											</tr>
											<tr>
												<td>#5</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/fils">Fils</a></td>
												<td>17</td>
											</tr>
											<tr>
												<td>#6</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/pute">Pute</a></td>
												<td>15</td>
											</tr>
											<tr>
												<td>#7</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/elle">Elle</a></td>
												<td>13</td>
											</tr>
											
											<tr>
												<td>#8</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/pense">Pense</a></td>
												<td>12</td>
											</tr>
											<tr>
												<td>#9</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/mère">Mère</a></td>
												<td>10</td>
											</tr>
											<tr>
												<td>#10</td>
												<td><a target="_blank" href="/dictionnaire-de-rimes/bite">Bite</a></td>
												<td>9</td>
											</tr>	
										</tbody>
									</table>
									<center><h4><u>2409</u> différents mots sur tout l’album soit environ <u>115</u> par chansons<br><a href="/classement_rap_français#album" style="color: #e44c65">Accédez aux classements</a></h4></center>
								</div>
								</section><br>
								
								<section id="total">
								<h3><u>Total</u></h3>
									<h4> Au cours de ses 4 derniers albums, le rappeur Vald a utilisé 8 422 différents mots.<br>Cela lui fait une moyenne de 134 mots par chansons.<br><a href="/classement_rap_français#rappeurs" style="color: #e44c65">Accédez aux classements</a></h4>
									<br>
								</section>
						
						
					</div>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://twitter.com/Dealerderimes" class="icon alt fa-twitter" onClick="ga('send', 'event', 'Social', 'click', 'twitter');"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/dealerderime" class="icon alt fa-facebook" onClick="ga'send', 'event', 'Social', 'click', 'facebook');"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/dealerderimes/" class="icon alt fa-instagram" onClick="ga'send', 'event', 'Social', 'click', 'instagram');"><span class="label">Instagram</span></a></li>	
						<li><a href="/contact" itemprop="url">Nous contacter / Contact us</a></li>	
					</ul>
					<ul class="copyright">
						<li>&copy; 2017 Dealer de Rimes. Tous droits réservés.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
    </div>
	</body>
</html>